<a href="https://colab.research.google.com/github/sitthatkaja/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python101

# String manipulation and print statement

การจัดการข้อมูลประเภท String

## Python example (ตัวอย่าง Python)

In [1]:
for i in ['a','b','c'] :
  print(i,end=' ')
  print('/')
  for j in range(10):
    ccc=10

a /
b /
c /

In [2]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range (10):
        ccc=10
        print(ccc)

a /
10
10
10
10
10
10
10
10
10
10
b /
10
10
10
10
10
10
10
10
10
10
c /
10
10
10
10
10
10
10
10
10
10

## String(text) ข้อมูลประเภท String

In [3]:
text1 = "Stat"

In [4]:
text2 = 'KKU'

In [5]:
print(text1)

Stat

เราสามารถนำ String + String ได้

In [6]:
print(text1+text2)

StatKKU

แต่ไม่สามารถ + ตัวเลขได้

In [7]:
print(text1 + 5)

TypeError: ignored

In [9]:
print(5 + text1)

TypeError: ignored

## Variable (ตัวแปร)

สำหรับการเก็บข้อมูลไว้ในตัวแปรนั้นๆไว้

In [12]:
a = 5 #int
print(a)

5

In [13]:
b = 5.7 #float
print(b)

5.7

In [14]:
c = a-b
print(c)

-0.7000000000000002

## ข้อกำหนดในการตั้งชื่อตัวแปร
1. ตั้งให้สื่อความหมาย
2. ตั้งให้เป็นภาษาอังกฤษ
3. ใช้ตัวเลขผสมกับตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
4. ห้ามมีเว้นวรรคในชื่อตัวแปร
5. ตัวใหญ่ ตัวเล็กค่าไม่เท่ากัน


## variable naming rules
1. Try to use meaningful word
2. Do it in English
3. You can use number in variable name the name connot atart with number
4. there should be no space in the name
5. variable name is case-sensitive (Abc is not equal to ABC)

##Advanced printing

(การแสดงผลแบบ Advance)

In [15]:
print(f'six plus five = {6+5}')

six plus five = 11

In [16]:
print(f'six plus five = {6+5:.2f}') # .2f หมายถึงทำเป็นทศนิยม 2 ตำแหน่ง

six plus five = 11.00

In [17]:
print(f'six plus five = {6+5:.2f}%') # % หมายถึงเป็น %

six plus five = 11.00%

In [18]:
print(f'six plus five = {6+5:3.0f}%') # .0 หมายถึง ไม่เอาทศนิยม

six plus five =  11%

In [19]:
print(f'six plus five = {6+5:03d}') #แสดงผลลัพธ์ 3 หลัก

six plus five = 011

In [20]:
st1 = f'six plus five = {6+5:03d}' #เก็บข้อมูลใน st1

In [21]:
st1 #แสดงผลออกมา

'six plus five = 011'

4/7/2566


```
print(object(s), sep=separator, end=end, file=file, flush=flush)

(s) is mean compel (บังคับ)
without (s) is mean optional,it have default value (ไม่บังคับและมีค่า default อยู่่แล้ว)
```

In [22]:
print('stat')

stat

### separator (sep) คือการแบ่งข้อมูลด้วยคำสั่ง ทั้งช่องว่างและ /


```
Default is ' '
```
for example

In [23]:
print('stat','KKU') #มีช่องว่างถ้าใส่ ,

stat KKU

In [24]:
print('stat','KKU',sep='/')

stat/KKU

### end (end) ไว้สำหรับการขึ้นบรรทัดใหม่หรือการเพิ่มตัวอักษร



```
Default is '\n'
```
for example

In [25]:
print('stat')
print('KKU')

stat
KKU

In [26]:
print('stat',end='+-+')
print('KKU')

stat+-+KKU

## Variable types ประเภทตัวแปร

### char (character : ตัวอักษร)

####  ```String + String``` mean plus char and another char ตัวอักษร + ตัวอักษรได้

In [27]:
a = 'C'

In [28]:
b = 'hatacter'

In [29]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}') #string + string = เอามารวมกัน

a=C b=hatacter, then C+hatacter = Chatacter

In [30]:
A ='c'
B = 'a'

In [31]:
print(A+B)

ca

####```integer * char```mean multiple copies of the char หรือสามารถคูณตัวอักษรเพื่อแสดงผลเท่าผลคูณได้

In [32]:
print(5*'T')

TTTTT

***
**Quiz 1**

print Ha for 100 times with one print function

In [33]:
for i in [100] :
  print(i*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

In [34]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

In [35]:
for i in ['Ha'] :
  print(i,end=' ')

Ha

In [36]:

    for j in range (100):
        Ha='Ha'
        print(Ha)

Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha

***

### Int(eger) (จำนวนเต็ม)

สำหรับการแสดงข้อมูลจำนวนเต็มเท่านั้น

In [37]:
int_a = 7
int_b = 2

In [38]:
print(type(int_a),type(int_b))

<class 'int'> <class 'int'>

In [39]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

สำหรับการแสดงข้อมูลที่เป็นทศนิยมได้

In [40]:
fl_a = 7. #ใส่ . สามารถทำให้เป็นค่าทศนิยมได้
fl_b = 2.571

In [41]:
print(type(fl_a),type(fl_b))

<class 'float'> <class 'float'>

In [42]:
fl_a

7.0

In [43]:
fl_b

2.571

###Boolean (ตัวแปรที่มีค่า true หรือ False) ตรรกศาสตร์มีแค่ 2 ค่าเท่านั้นคือ True และ False

In [44]:
b_T = True

In [45]:
b_F = False

all of equation (สัญลักษณ์สำหรับตรรกศาสตร์)

```
== is equal

!= is not equal

> is geater than

<= is less than or equal

| is or

& is and
```

In [46]:
b_T | b_F

True

### Complex number (จำนวนเชิงซ้อน)

In [47]:
x = 1+ 2j

we can check the datatype with type()

In [48]:
print (f'variable x value is {x} and datatype is {type(x)}')

variable x value is (1+2j) and datatype is <class 'complex'>

In [49]:
print (f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}')

ตัวแปร A ค่าคือ c ชนิด <class 'str'>

In [50]:
print (f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}')

ตัวแปร a ค่าคือ C ชนิด <class 'str'>

##การแปลงชนิดของตัวแปร (Variable Casting)

In [51]:
print(f'int a = {int_a} int_b = {int_b} Fl_a {fl_a} Fl_b={fl_b}')

int a = 7 int_b = 2 Fl_a 7.0 Fl_b=2.571

In [52]:
str_a = '6'
str_b = '-2'

In [53]:
str_a2int = int(str_a) # Transform string into int แปลงค่าจาก String เป็น int
print(f'ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)}')

ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [54]:
str_a2int + int_a

13

In [55]:
str_a + int_a #ไม่สามารถนำ string + int ได้

TypeError: ignored

In [56]:
str(fl_b) #transform float to string แปลงค่าจาก Float เป็น string ได้

'2.571'

In [57]:
int(fl_b) #transform float to int (but it will cut te floating point) แปลงค่าจาก float เป็น int ได้แต่จะตัดจุดทศนิยมออกไป

2

## Replace() แทนที่ String

การแปลงค่าด้วยข้อมูล String

In [58]:
st_test1 = 'Department of Statistics,'

In [59]:
st_test1.replace('e',' ') #replace e with space แทน e ด้วยช่องว่าง

'D partm nt of Statistics,'

In [60]:
st_test1

'Department of Statistics,'

In [61]:
st_test2 = st_test1.replace('e',' ')

In [62]:
st_test2

'D partm nt of Statistics,'

In [63]:
st_test1.replace('ti','TI') # Modify ti to TI เปลี่ยน ti เป็น TI

'Department of StaTIsTIcs,'

## split() แยก string

การแยกข้อมูลไว้สำหรับตัดข้อมูลออกซึ่งจะเก็บในรูปแบบ list

In [64]:
'a b c d e f g'.split() #ตัด string ที่ช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [65]:
'abc de fg'.split() # แยกด้วย /

['abc', 'de', 'fg']

In [66]:
'a,b/c,d e/f g'.split('/') # แยกด้วย /

['a,b', 'c,d e', 'f g']