<a href="https://colab.research.google.com/github/sitthatkaja/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String manipulation and print statment

## Python example

In [63]:
for i in ['a','b','c'] :
  print(i,end=' ')
  print('/')
  for j in range(10):
    ccc=10

a /
b /
c /

In [64]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range (10):
        ccc=10
        print(ccc)

a /
10
10
10
10
10
10
10
10
10
10
b /
10
10
10
10
10
10
10
10
10
10
c /
10
10
10
10
10
10
10
10
10
10

## String(text)

In [65]:
text1 = "Stat"

In [66]:
text2 = 'KKU'

In [67]:
print(text1)

Stat

In [68]:
print(text1+text2)

StatKKU

In [70]:
print(text1 + 5)

TypeError: ignored

In [71]:
print(5 + text1)

TypeError: ignored

## Variable

In [72]:
a = 5 #int
print(a)

5

In [73]:
b = 5.7 #float
print(b)

5.7

In [74]:
c = a-b
print(c)

-0.7000000000000002

## ข้อกำหนดในการตั้งชื่อตัวแปร
1. ตั้งให้สื่อความหมาย
2. ตั้งให้เป็นภาษาอังกฤษ
3. ใช้ตัวเลขผสมกับตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
4. ห้ามมีเว้นวรรคในชื่อตัวแปร
5. ตัวใหญ่ ตัวเล็กค่าไม่เท่ากัน


## variable naming rules
1. Try to use meaningful word
2. Do it in English
3. You can use number in variable name the name connot atart with number
4. there should be no space in the name
5. variable name is case-sensitive (Abc is not equal to ABC)

##Advanced printing

In [75]:
print(f'six plus five = {6+5}')

six plus five = 11

In [76]:
print(f'six plus five = {6+5:.2f}') # .2f หมายถึงทำเป็นทศนิยม 2 ตำแหน่ง

six plus five = 11.00

In [77]:
print(f'six plus five = {6+5:.2f}%') # % หมายถึงเป็น %

six plus five = 11.00%

In [78]:
print(f'six plus five = {6+5:3.0f}%') # .0 หมายถึง ไม่เอาทศนิยม

six plus five =  11%

In [79]:
print(f'six plus five = {6+5:03d}') #แสดงผลลัพธ์ 3 หลัก

six plus five = 011

In [80]:
st1 = f'six plus five = {6+5:03d}' #เก็บข้อมูลใน st1

In [81]:
st1 #แสดงผลออกมา

'six plus five = 011'

4/7/2566


```
print(object(s), sep=separator, end=end, file=file, flush=flush)

(s) is mean compel (บังคับ)
without (s) is mean optional,it have default value (ไม่บังคับและมีค่า default อยู่่แล้ว)
```

In [82]:
print('stat')

stat

### separator (sep)


```
Default is ' '
```
for example

In [83]:
print('stat','KKU') #มีช่องว่างถ้าใส่ ,

stat KKU

In [84]:
print('stat','KKU',sep='/')

stat/KKU

### end (end)



```
Default is '\n'
```
for example

In [85]:
print('stat')
print('KKU')

stat
KKU

In [86]:
print('stat',end='+-+')
print('KKU')

stat+-+KKU

## Variable types

### char (character : ตัวอักษร)

####  ```String + String``` mean plus char and another char

In [87]:
a = 'C'

In [88]:
b = 'hatacter'

In [89]:
print(f'a={a} b={b}, then {a}+{b} = {a+b}') #string + string = เอามารวมกัน

a=C b=hatacter, then C+hatacter = Chatacter

In [90]:
A ='c'
B = 'a'

In [91]:
print(A+B)

ca

####```integer * char```mean multiple copies of the char

In [92]:
print(5*'T')

TTTTT

***
**Quiz 1**

print Ha for 100 times with one print function

In [93]:
for i in [100] :
  print(i*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

In [94]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

In [95]:
for i in ['Ha'] :
  print(i,end=' ')

Ha

In [96]:

    for j in range (100):
        Ha='Ha'
        print(Ha)

Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha
Ha

***

### Int(eger) (จำนวนเต็ม)

In [97]:
int_a = 7
int_b = 2

In [98]:
print(type(int_a),type(int_b))

<class 'int'> <class 'int'>

In [100]:
int_c = int_a + int_b #assign the value as the output of operation
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

In [102]:
fl_a = 7. #ใส่ . สามารถทำให้เป็นค่าทศนิยมได้
fl_b = 2.571

In [103]:
print(type(fl_a),type(fl_b))

<class 'float'> <class 'float'>

In [104]:
fl_a

7.0

In [106]:
fl_b

2.571

###Boolean (ตัวแปรที่มีค่า true หรือ False) ตรรกศาสตร์

In [107]:
b_T = True

In [108]:
b_F = False

all of equation

```
== is equal

!= is not equal

> is geater than

<= is less than or equal

| is or

& is and
```

In [109]:
b_T | b_F

True

### Complex number (จำนวนเชิงซ้อน)

In [110]:
x = 1+ 2j

we can check the datatype with type()

In [113]:
print (f'variable x value is {x} and datatype is {type(x)}')

variable x value is (1+2j) and datatype is <class 'complex'>

In [115]:
print (f'ตัวแปร A ค่าคือ {A} ชนิด {type(A)}')

ตัวแปร A ค่าคือ c ชนิด <class 'str'>

In [116]:
print (f'ตัวแปร a ค่าคือ {a} ชนิด {type(a)}')

ตัวแปร a ค่าคือ C ชนิด <class 'str'>

##การแปลงชนิดของตัวแปร (Variable Casting)

In [117]:
print(f'int a = {int_a} int_b = {int_b} Fl_a {fl_a} Fl_b={fl_b}')

int a = 7 int_b = 2 Fl_a 7.0 Fl_b=2.571

In [118]:
str_a = '6'
str_b = '-2'

In [119]:
str_a2int = int(str_a) # Transform string into int
print(f'ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)}')

ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [120]:
str_a2int + int_a

13

In [121]:
str_a + int_a #ไม่สามารถนำ string + int ได้

TypeError: ignored

In [124]:
str(fl_b) #transform float to string

'2.571'

In [125]:
int(fl_b) #transform float to int (but it will cut te floating point)

2

## Replace() แทนที่ String

In [130]:
st_test1 = 'Department of Statistics,'

In [131]:
st_test1.replace('e',' ') #replace e with space

'D partm nt of Statistics,'

In [135]:
st_test1

'Department of Statistics,'

In [133]:
st_test2 = st_test1.replace('e',' ')

In [134]:
st_test2

'D partm nt of Statistics,'

In [136]:
st_test1.replace('ti','TI') # Modify ti to TI

'Department of StaTIsTIcs,'

## split() แยก string

In [137]:
'a b c d e f g'.split() #ตัด string ที่ช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [143]:
'abc de fg'.split() # แยกด้วย /

['abc', 'de', 'fg']

In [140]:
'a,b/c,d e/f g'.split('/') # แยกด้วย /

['a,b', 'c,d e', 'f g']